{% extends 'base.html' %}

{% block title %}Polls{% endblock %}

{% block content %}
<div class="poll-vote-container">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            
            {% for choice in question.choice_set.all %}
                <div class="choice">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote" class="vote-button">
    </form>
</div>
{% endblock %}

{% block extra_css %}
<style>

    form {
        font-size: 30px; 
        font-weight: bold; 
        color: #f39c12; 
        background-color: #2d2d33; 
        padding: 20px 70px; 
        border-radius: 50px; 
        box-shadow: 0 10px 10px rgb(243, 241, 241); 
        text-align: center;;
    }

    h1 {
        font-size: 32px;
        color: #ffffff;
    }

    .choice {
        margin: 10px 0;
        text-align: left;
    }

    .choice label {
        font-size: 18px;
        cursor: pointer;
        margin-left: 10px;
    }

    .vote-button {
        background-color: #f39c12;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
    }

    .vote-button:hover {
        background-color: #e67e22;
    }

    p {
        color: red;
        font-weight: bold;
    }
</style>
{% endblock %}
