{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="main-container">
    <h1 class="welcome-text">Welcome to 8000forms.com</h1>
</div>
{% endblock %}

{% block extra_css %}
<style>
    body {
        background-color: #ffffff; 
        margin: 0;
        padding: 0;
    }

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .welcome-text {
        font-size: 48px; 
        font-weight: bold; 
        color: #f39c12; 
        background-color: #333; 
        padding: 10px 500px; 
        border-radius: 50px; 
        box-shadow: 0 10px 10px rgb(0, 0, 0); 
        text-align: center; 
    }
</style>
{% endblock %}
    