{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="main-container">
    <h1 class="welcome-text">Welcome to 8000polls.com</h1>
</div>
{% endblock %}

{% block extra_css %}
<style>

.welcome-text {
    font-size: 48px; 
    font-weight: bold; 
    color: #f39c12; 
    background-color: #333; 
    padding: 10px 500px; 
    border-radius: 50px; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    text-align: center; 
}

</style>
{% endblock %}
